body {
    letter-spacing: 1px;
}
.content-body {
    margin: 5px;
}
.logo  .span12 {
    margin-top: 34px;
    margin-bottom: 24px;
}
.menu .span12 {
    height: 52px;
    margin-bottom: 28px;
    border: 1px solid #979798;
    border-left: 0;
    border-right: 0;
    position: relative;
}
.menu .centered-menu {
    float: left;
    list-style: none;
    position: relative;
    margin: 0;
    left: 50%;
}
.menu .centered-menu li {
    float: left;
    right: 50%;
    position:relative;
    padding: 16px 16px;
}
.menu .centered-menu a {
    font-size: 16px;
    text-transform: uppercase;
}
.menu .dropdown-menu {
    top: 40px;
    left: 10px;
    padding: 0;
    background: #dbd9da;
    border-color: #f3f3f3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.menu .dropdown-menu li {
    right: 0;
    float: none;
    padding: 0;
}
.menu .dropdown-menu a {
    text-transform: none;
    color: #464747;
    border-top: 1px solid #f3f3f3;
    padding: 10px 10px 10px 20px;
    text-transform: capitalize;
}
.menu .dropdown-menu li:first-child a {
    border-top: none;
}

.menu input {
    height: 12px;
    font-style: italic;
    width: 145px;
    color: #505050;
    background-color: #eaeae0;
    border: 1px solid #a7a9ac;
    margin: 15px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    right: 0;
}
.homeLinks img {
    width: 100%;
}
.homeLinks .caption {
    text-align: center;
    text-transform: uppercase;
}
.categories .caption {
    text-align: center;
    text-transform: uppercase;
}
.categories .caption h4 {
    min-height: 40px;
    font-weight: normal !important;
}
.categories .thumbnail > img {
    height: 210px;
}
.thumbnails {
    margin-bottom: 0;
}
.title,
.video {
    margin-bottom: 20px;
}
footer {
    border-top: 16px solid #aae0df;
    background-color: #a6afb1;
}
footer .container {
    padding: 18px 0 24px 0;
}
footer span {
    float: right;
}