---
layout: default
---
<div class="row slider">
    <div class="span12 homeSlider">
        <ul id="home-slider">
            {% for image in page.images %}
                <li><img src="/img/transparent.gif" ref="/img/home/slides/{{image}}" alt=""></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row homeLinks">
    <div class="span12">
        {% for link in page.links %}
            {% cycle '<ul class="thumbnails">', '', '', '' %}
            <li class="span3">
                <a href="{{link.url}}" class="thumbnail">
                    <img src="/img/home/links/{{link.image}}" class="img-rounded" />
                    <div class="caption">
                        <h4>{{link.title}}</h4>
                    </div>
                </a>
            </li>
            {% unless forloop.last %}{% cycle '', '', '', '</ul>' %}{% endunless %}
        {% endfor %}
        </ul>
    </div>
</div>