---
layout: default
---
<div class="row slider">
    <div class="span12">
        <div id="home-slider" class="nivoSlider">
            {% for image in page.images %}
            <img src="/img/home/slides/{{image}}" alt="">
            {% endfor %}
        </div>
    </div>
</div>
<div class="row homeLinks">
    <div class="span12">
        <ul class="thumbnails">
        {% for link in page.links %}
            <li class="span3">
                <a href="{{link.url}}" class="thumbnail">
                    <img src="/img/home/links/{{link.image}}" class="img-rounded" />
                    <div class="caption">
                        <h4>{{link.title}}</h4>
                    </div>
                </a>
            </li>
            {% capture separator %}</ul><ul class="thumbnails">{% endcapture %}
            {% cycle '', '', '', separator %}
        {% endfor %}
        </ul>
    </div>
</div>