---
layout: default
---
<div class="row post">
    <div class="span3 title">
        <h1>{{page.title}}</h1>
        {{content}}
    </div>
    <div class="span9 content">
        {% assign images_size = page.images | size %}
        {% if images_size == 1 %}
            <img src="/img{{page.id | downcase}}/{{page.images | first}}">
        {% elsif images_size > 1 %}
            <div id="post-slider" class="nivoSlider">
                {% for image in page.images %}
                    <img src="/img{{page.id | downcase}}/{{image}}"  data-thumb="/img{{page.id | downcase}}/thumbnails/{{image}}">
                {% endfor %}
            </div>
        {% endif %}
        
        {% if page.video %}
            <iframe src="http://player.vimeo.com/video/{{page.video}}" width="700" height="390" 
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        {% endif %}
    </div>
</div>