---
layout: default
---
<div class="row post">
    <div class="span3 title">
        <h1>{{page.title}}</h1>
        {{content}}
    </div>
    <div class="span9 content">
        {% assign images_size = page.images | size %}
        {% if images_size == 1 %}
            <div class="well">
                <img src="/img{{page.id | downcase}}/{{page.images | first}}">
            </div>
        {% elsif images_size > 1 %}
            <ul id="post-slider">
                {% for image in page.images %}
                    <li><img ref="/img{{page.id | downcase}}/{{image}}"  src="/img{{page.id | downcase}}/thumbnails/{{image}}"></li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if page.animations %}
            {% for animation in page.animations %}
                <div class="well">
                    <object data="/img{{page.id | downcase}}/{{animation}}" width="100%" height="400" type="application/x-shockwave-flash">
                        <embed src="/img{{page.id | downcase}}/{{animation}}" type="application/x-shockwave-flash" />
                    </object>
                </div>
            {% endfor %}
        {% endif %}
        
        {% if page.video %}
            <div class="well">
                <iframe src="http://player.vimeo.com/video/{{page.video}}" width="660" height="370" 
                frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        {% endif %}
    </div>
</div>